body {
    margin: 0;
    background: lightgray;
    min-width: 250px;
}

:root {
    --main-color: white;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'PT Mono', monospace;
    min-width: 250px;
    margin: 20px;
}

.custom-section {
    padding-top: 50px;
    min-width: 250px;
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text {
    font-family: 'New Tegomin', serif;
    font-size: 20px;
}

.card-text1 {
    font-family: 'New Tegomin', serif;
    font-size: 25px;
}

.redes {
    text-align: right;
    padding-top: 40px;
    padding-bottom: 40px;
}

.redes li {
    display: inline-block;

}

footer {
    background: lightgray;
    border: double 10px white;
    padding: 20px 0;
    color: var(--main-color);
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.home {
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);
}