body {
    margin: 0;
    background: lightgray;
    min-width: 320px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F002%2F788%2F266%2Flarge_2x%2Flight-blue-layout-with-lines-rectangles-rectangles-with-colorful-gradient-on-abstract-background-pattern-for-websites-landing-pages-vector.jpg&f=1&nofb=1);
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* aqui damos estilo al body e insertamos la animacion */


nav a:hover {
    background-color: rgb(9, 216, 40);
    border-radius: 1em;
}

/* Aqui se le da el sombreado a la nav */


:root {
    --main-color: white;
}

/* aqui creamos una variable(root) de color para ahorrar tiempo de cambio */


.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    filter: blur(8px);
    min-width: 320px;
}

/* aqui se modifica los elementos de portada con la clase de bg */


.bg-textPortada {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border: double 4px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 3px 1px 1px;
    min-width: 320px;
}

/* aqui se modifica los elementos del Texto de portada con la clase de bg-textPortada */


.seccion {
    padding-top: 50px;
    min-width: 320px;

}

/* aqui perzonalizamos el estilo de la  etiqueta Section */

.tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* aqui perzonalizamos el estilo de las cards */

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-shadow: black 0.5px 1px 1px;
}

/* aqui modificamos las letras del texto de la etiqueta H3*/

.card-text1 {
    color: gainsboro;
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    text-shadow: black 1px 1px 1px;
}

/* aqui modificamos las letras del texto de la etiqueta p*/

footer {
    background: black;
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* aqui se modifica los elementos que contiene la etiqueta footer */


.portada {
    background-image: url(https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

/* aqui se inserta la imagen de la portada con la clase de portada */